.brand-logo{
    width: 20%;
    display: inline;
}
.copy-right-brand-img{
    width: 20%;
}
.color-body{
    background-color: #EFF5F5;
}
.whole-body{
    background-color: #EFF5F5;
}
.ravet{
    height: 250px;
}
.balewadi{
    height: 250px;
}
.Sunarwadi{
    height: 250px;
}
.Jambhulwadi{
    height: 250px;
}
.Khed{
    height: 250px;
}
.Akurdi{
    height: 250px;
}
.dehu{
    height: 250px;
}
.alandi{
    height: 250px;
}
.Wagholi{
    height: 250px;
}
.swargate{
    height: 250px;
}